<div class="card mt-4">
  <%= image_tag @ad.picture.url(:large), class: 'card-img-top img-fluid' %>
  <div class="card-body">
    <h3 class="card-title"><%= @ad.title %></h3>
    <h4 class="pull-right" ><%= humanized_money_with_symbol @ad.price %></h4>
    <p class="card-text"><%= @ad.description.html_safe %></p>
  
    <div class="well well-sm">
      <div class="ratings">
        <p class="pull-right"><%= @ad.rates('quality').count %> Avaliações</p>

          <%= rating_for @ad, 'quality'%>

      </div>
    </div>
  </div>

  <div class="well">
    <div class="card-header">
      <h2>Comentários</h2>
    </div>
    <div class="card-body">
      
      <%= render partial: 'site/ad_detail/comments' %>

      <% if member_signed_in? %>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#commentModal">
          Deixe um comentário
        </button>
        <% else %>
         <%= link_to "Efetue login para comentar", new_member_session_path , class: 'btn btn-success' %>
      <% end -%>
    </div>
  </div>
</div>

<%= render partial: 'site/ad_detail/comment_modal' %>