<h1>Editando anuncio</h1>

<div class="col-xs-4">
  <%= form_for([:site,:profile, @ad]) do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
      </div>
    <div class="form-group">
      <%= f.label :title %>
      <%= text_field :description, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label for="exampleInputFile">File input</label>
      <input type="file" id="exampleInputFile">
      <p class="help-block">Example block-level help text here.</p>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Check me out
      </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  <% end %>
</div>